[submodule "fork-blockchain-gui"]
	path = fork-blockchain-gui
	url = https://github.com/Taco-Network/fork-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
